/*  広告を破壊 */
div[style*="z-index: 2147483647"] {
    display: none !important;
}

body {
    background-color: #ffefd5;
}

table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    margin-bottom: 5px;
}

th,
td {
    width: 150px;
    /* 幅を固定 */
    height: 150px;
    /* 高さを幅と同じに設定 */
    border: 1px solid #ddd;
    /* 枠線 */
    padding: 3px;
    /* 内側の余白 */

}


td:hover {
    background-color: #eaeaea;
    /* マウスオーバー時の色 */
}

#badgeimg1,
#badgeimg2,
#badgeimg3,
#badgeimg4,
#badgeimg5,
#badgeimg6,
#badgeimg7,
#badgeimg8,
#badgeimg9,
#badgeimg10,
#badgeimg11,
#badgeimg12,
#badgeimg13,
#badgeimg14,
#badgeimg15 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

.collection-container {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.owned-badge {
    filter: contrast(100%);
}

.unowned-badge {
    filter: contrast(30%);
}
