body {
    background-color: #ffefd5;
}

table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    margin-bottom: 5px;
}

th,
td {
    width: 150px;
    /* 幅を固定 */
    height: 150px;
    /* 高さを幅と同じに設定 */
    border: 1px solid #ddd;
    /* 枠線 */
    padding: 3px;
    /* 内側の余白 */

}


td:hover {
    background-color: #eaeaea;
    /* マウスオーバー時の色 */
}

#badgeimg1 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg2 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg3 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg4 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg5 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg6 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg7 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg8 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg9 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg10 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg11 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg12 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg13 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg14 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

#badgeimg15 {
    width: 150px;
    height: 150px;
    display: block;
    /* 余計な空白を除去 */
}

.collection-container {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.owned-badge {
    filter: contrast(100%);
}

.unowned-badge {
    filter: contrast(30%);
}