body {
    font-family: 'Meiryo', sans-serif;
    margin: 0;
    background-color: #ffefd5;
}

#bun {
    margin-top: 130px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.text-area,
.canvas-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea,
canvas {
    width: 450px; /* 591px から縮小 */
    height: 270px; /* 354px から縮小 */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #ffff;
}

textarea {
    font-size: 14px;
    resize: none;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif; /* フォントを変更 */
    color: #fff;
    background-color: #27acd9;
    border: none;
    border-radius: 50px; /* 丸みのあるボタン */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

a {
    margin-top: 10px;
}