/* 広告を破壊 */
div[style*="z-index: 2147483647"] {
  display: none !important;
}

body {
  background-color: #ffefd5;
}

.border-frame {   
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 450px;
  padding: 120px 200px 0;
  box-sizing: border-box;
  min-width: 400px;
}

.flex-inner[data-box-color="white"] {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

h2, legend {
  text-align: center;
}



.language-list-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.non-language-list-container {
  display: flex;
  flex-wrap: wrap; /* 折り返しを有効化 */
  gap: 10px; /* 要素間のスペース */
}



.language-list, .non-language-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



/* 横並び配置用のコンテナ幅を調整 */
.non-language-list .genre-item {
  display: inline-flex; /* 横並びにする */
  align-items: center; /* 垂直方向の中央揃え */
  gap: 10px; /* ラベルとデータの間隔を調整 */
}
.non-language-list .genre-item:nth-child(1),
.non-language-list .genre-item:nth-child(6) {
  flex-basis: calc(50% - 20px); /* 各アイテムの幅を指定（50%の幅で調整） */
  display: inline-flex; /* 横並びにする */
}

.special-class {
  position: relative;
  left: 200px;
  top: -170px;
}



.genre-label {
  display: flex;
  width: 100%;
}

.genre-name {
  flex: 1;
  text-align: left;
}

.genre-stats {
  flex: 0;
  text-align: right;
  white-space: nowrap;
}

.primary {
  margin-right: 20px;
  display: inline-flex; /* 横並びにする */
}

.secondary {
  margin-left: 20px;
}

p {
  margin: 0 0 10px 0;
  text-align: center;
}

.contain-left {
  display: inline-block;
  margin: 0 10px;
  margin-left: 120px;
}

.contain-right {
  display: inline-block;
  width: 400px;
  height: 225px;
}

.tasukete{
  position: relative;
  left: 100px;
}

.button {
  background-color: rgb(235, 118, 46);
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  margin: 20px 20px 20px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: rgb(235, 118, 46);
  transform: scale(1.05);
}
