header {
    background-color: rgb(89, 208, 247);
    color: white;
    text-align: center;
    padding: 20px;
}

/*
img:hover {
    opacity: 0.5;
    cursor: pointer;
}

img:active {
    position: relative;
    top: 3px;
}

#menuButton {
    margin-right: 400px;
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu-container {
    display: flex;
    align-items: center;
}
*/