header{
    background-color: rgb(89, 208, 247);
    color: white;
    text-align: center;
    padding: 10px;
}

/* 無難な書き方 */
body,html {
    margin: 0;  /* 解決するため */
    padding: 0; /* 入れておくと無難 */
  }
  