* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.hero {
    background: url('spi-background.jpg') no-repeat center center/cover;
    height: 400px;
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
}

.hero .btn {
    background-color: rgb(89, 208, 247);
    color: #fff;
    padding: 30px 40px;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    top: 80px;  /* 現在の位置から50px下に移動 */
}

.kan {
    background-color: rgb(84, 196, 99);
    color: #fff;
    padding: 30px 40px;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    top: 80px;  /* 現在の位置から50px下に移動 */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
