* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header { /*ヘッダー部分*/
    background-color: #333;
    color: #fff;
    padding: 25px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /* コンテナ内の要素を中央に揃える */
}

.logo { /*ロゴの位置設定*/
    font-size: 1.5em;
    font-weight: bold;
}

nav ul { /*ナビ部分*/
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a { 
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.hero { /*画像挿入*/
    background: url('spi-background.jpg') no-repeat center center/cover;
    height: 400px;
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero img {
    display: block;
    margin: 0 auto;
}

/* ボタンのスタイル */
.hero .btn,
.hero .kan {
    background-color: rgb(89, 208, 247);
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2em;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: auto;
}

.hero .kan {
    background-color: rgb(84, 196, 99);
}

/* ボタンをホバーした時の色の変化 */
.hero .btn:hover {
    background-color: rgb(60, 158, 202);
}

.hero .kan:hover {
    background-color: rgb(60, 148, 74);
}

img {
    width: 50%;
    height: 50%;
}