body {
    background-color: #ffefd5;
    /* クリーム色の背景 */
}

.kaisetu1 {
    margin-top: calc(100px + 20px);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fafafa;
}

/*リンクにボタンをつける*/
.btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(89, 208, 247);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/*リンクの下線を消す*/
a {
    text-decoration: none;
}

.kaitou {
    margin-bottom: 10px;
    font-size: 18px;
}

#user-kaitou,
#correct-kaitou {
    color: #000;
}

#kaisetu {
    font-size: 18px;
    color: #333;
    line-height: 1.6;

}