body {
    background-color: #ffefd5; /* クリーム色の背景 */
}

.kaisetu1 {
    max-width: 800px;
    margin: 40px auto; /* 上に40pxの余白を追加 */
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.kaitouran, .kaiseturan {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fafafa;
}

.kaitou {
    margin-bottom: 10px;
    font-size: 18px;
}

#user-kaitou, #correct-kaitou {
    color: #000;
}

#kaisetu {
    font-size: 18px;
    color: #333;
    line-height: 1.6;

}

