html {
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
body {
    background-color: #ffefd5;
}

.login-container{
    position: relative;
    height: 420px;
    max-width: 900px;
    margin: 130px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.introduce-container1{
    position: relative;
  width: 230px;
  height: 230px;
  top: 80px;
  left: 10%;
  background-color: #e3e3e6;
  z-index: 1;
  font-size: 30px
}

.introduce-container2{
    position: relative;
    width: 230px;
    height: 230px;
    top: -150px;
    left: 120%;
    background-color: #e3e3e6;
    z-index: 1;
    font-size: 30px
}








.kanrisya1{
    width: 100px;/*80pxに画像の縮小*/
    position: relative;
    left: 30%;
    top: 20px;
}

.test{
    width: 100px;/*80pxに画像の縮小*/
    position: relative;
    left: 27%;
    top: 20px;
}

.kanrisyakanri{
    position: relative;
    left: 20px;
    top: 10%;
    font-size: 25px;
}

.problem{
    position: relative;
    left: 50px;
    top: 10%;
    font-size: 30px;
}
