/*  広告を破壊 */
div[style*="z-index: 2147483647"] {
    display: none !important;
}


html {
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
body {
    background-color: #ffefd5;
}

.border-frame{
    display: flex; /* フレックスボックスを有効化 */
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    min-width: 400px;
}

.flex-inner[data-box-color="white"] {
    background: #fff;
    border-radius: 20px;
    overflow: hidden; /* 角を丸くするために内容を隠す */
}

h2{
    text-align: center;
}

.kanrisya{
    margin-left: 100px;
    
  
}

#png{
    margin-top: 30px;
    height: 180px;
    width: 180px;
    background-color: #e3e3e6;
}

div p{
    display: inline-block;
    margin: 0px 0px 100px 100px;
    
}

.left1{
    margin-left: 120px;
}






