.login-container{
    background-color: #ffefd5;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #ff6b6b;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-ji{
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color:rgb(89, 208, 247);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #68B7F0;
}