header {
    background-color: rgb(89, 208, 247);
    color: white;
    text-align: center;
    padding: 20px;
}

body{
    overflow: hidden;
    
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    flex-grow: 1;
    box-sizing: border-box;
    
}
.question {
    flex-grow: 1;
    margin: 0 0 0 auto;
}
.question-text {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 30px;
    text-align: center; /* テキストを右揃え */
    margin-left: 310px;
}
.question p{
    margin-right: 390px;
}
.choices {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 100px; /* 上側のマージンを追加 */
    margin-right: 70px;
    width: 200px; /* 適切な幅を設定 */
}
.choice {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 5px;
}
.choice input {
    margin-right: 10px;
}
.choice label {
    margin: 0;
    flex-grow: 1;
}
.timer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.timer-label {
    margin-right: 10px;
}
.timer-bar {
    display: flex;
    width: 80%;
    height: 20px;
    overflow: hidden;
}
.timer-bar div {
    flex: 1;
    background-color: #e0e0e0;
    margin: 0 1px;
    opacity: 1;
}

.next-button {
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    bottom: 50px; /* ボタンの位置を調整 */
    right: 20px;
}

.footer p{
    margin-left: 920px;
}
/*mondaikaito以上*/

