body {
    background-color: #ffefd5;
}

.profile-container {
    display: flex;
    height: auto;
    max-width: 1200px;
    margin: 130px auto;
    background-color: #ffefd5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-sidebar {
    width: 30%;
    background-color: #e9e9e9;
    padding: 20px;
    text-align: center;
}

.profile-icon {
    width: 80px;
    height: 80px;
}

.profile-info {
    margin-top: 100px;

}

.profile-info h2 {
    margin: 0;
    font-size: 1.5em;
}

.profile-info p {
    margin: 10px 0;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

.progress {
    height: 20px;
    background-color: #4caf50;
}

.progress-text {
    font-size: 0.9em;
}

.edit-profile-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    top: 40px;
}

#editInputContainer{
    position: relative;
    top: 20px;
}

#editOption{
    width: 10%;
}

.button{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 80px;
    left: 500px;
    
}

.change-btn{
    position: relative;
    left: 550px;
}



.profile-main {
    background-color: #ffffff;
    width: 70%;
    height: 10%;
    padding: 20px;
}

.profile-main h2 {
    margin-top: 0;
}

.learning-progress,
.growth-record {
    margin-top: 20px;
}

.learning-progress h3,
.growth-record h3 {
    margin-bottom: 10px;
}

.gakusyu {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#language{
    position: relative;
    left: 220px;
    top: -170px;
}

.language1{
    position: relative;
    left: 300px;
    top: -170px;
}

#nonverbal{
    position: relative;
    left: 500px;
    top: -340px;
}

.nonverbal1{
    position: relative;
    left: 550px;
    top: -340px;
}

.progress-item{
    position: relative;
    height: 50%;
}
.sougo1{
    position: relative;
    left: 70px;
}

/* モーダルのスタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pro{
    position: relative;
    text-align: center;
}
