body {
    background-color: #ffefd5;
    margin-top: calc(100px + 20px);
}

.top-contents{
    margin: 0 0 0 12px;
}

/* 親要素の幅を制限して、画像の拡大を防ぐ */
.center-contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 全体は上寄せ */
    padding-top: 20px;
}

/* 画像が画面幅に応じて縮小するように設定 */
.question_img {
    width: 500px;
    height: auto;
    margin: 0 50px;
    object-fit: contain; 
}

#choiceForm{
    float: right;
    display: flex;
}

.choices {
    max-width: 500px;
    min-width: 200px;
    word-wrap: break-word; /* 内容が幅を超えた場合に折り返し */
}

#question_form{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 50px;
}

.choice {
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
label{
    cursor: pointer;
}

.next-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px; /* フォントサイズを調整 */
    width: 80px;
    height: auto;
    margin: 10px;
}

.next {
    align-self: flex-end; /* ボタンだけ下寄せ */
    margin-left: 20px; /* フォームとの間に余白 */
}
