body {
    background-color: #ffefd5;
}

.border-frame {   
    display: flex; /* フレックスボックスを有効化 */
    flex-direction: column;
    justify-content: center;
    min-height: 450px;
    padding-top: 120px;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;
    min-width: 600px;
}

.flex-inner[data-box-color="white"] {
    background: #fff;
    border-radius: 20px;
    overflow: hidden; /* 角を丸くするために内容を隠す */
}

h2 {
    padding-top: 20px;
    text-align: center; /* テキストを中央揃えに */
}

.left-contain {
    display: inline-block; 
    margin: 0 10px; /* 少し余白をつける */
    margin-left: 240px;
    position: absolute;
}

.right-contain {
    display: inline-block; /* inline-blockのままでもOK */
    margin: 0 100px; /* 少し余白をつける */
    margin-left: 450px;
    margin-bottom: 30px;
}

ul {
    padding-left: 0px;
}

li {
    width: fit-content;
    list-style: none;
    padding-top: 0px;
}

legend {
    text-align: center;
}

.language-list-container {
    display: flex; /* フレックスボックスを使用 */
    gap: 10px; /* 列間のスペースを調整 */
    top: -20px;
}

.primary {
    margin-right: 0px; /* 左側のリストの余白調整 */
}

.non-language-list-container {
    display: flex; /* フレックスボックスを有効化 */
    
}

.non-language-list-container li {
    display: block;
    flex: 1 1 calc(100% / 2 - 20px); /* 1行に4つ並ぶ幅を計算 */
    writing-mode: horizontal-tb; /* 文字を横書きにする */
    margin-left: 10px; /* 初期は左マージンなし */
}
