/*  広告を破壊 */
div[style*="z-index: 2147483647"] {
    display: none !important;
}


body {
    background-color: #ffefd5;
    margin-top: calc(100px + 20px);
    overflow-y: scroll;
}

.top-contents{
    margin: 0 0 0 12px;
    margin-top: -30px;
}

/* 親要素の幅を制限して、画像の拡大を防ぐ */
.center-contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 全体は上寄せ */
    padding-top: 20px;
}

/* 画像が画面幅に応じて縮小するように設定 */
.question_img {
    width: 500px;
    height: auto;
    margin: 0 50px;
    object-fit: contain;
    margin-top: -10px; 
}

#choiceForm{
    float: right;
    display: flex;
}

.choices {
    max-width: 500px;
    min-width: 200px;
    word-wrap: break-word; /* 内容が幅を超えた場合に折り返し */
}

#question_form{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 50px;
}

.choice {
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
label{
    cursor: pointer;
}

.edit-profile-btn{
    background-color: #00aaff;    /* ボタンの背景色（必要に応じて調整） */
    color: #fff; /* ボタンの文字色 */
    width: 130px;
    height: 60px;
    position: relative;
    top: 10px;
    left: 1050px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.next-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px; /* フォントサイズを調整 */
    width: 80px;
    height: auto;
    margin: 10px;
    position: relative;
    right: 100px;
    top: 60px;
}

.next-button:hover{
    color: #0c0c0c; /* ホバー時の背景色 */
    background-color: #898989;  /* ホバー時のテキスト色 */
}

.next {
    align-self: flex-end; /* ボタンだけ下寄せ */
    margin-left: 20px; /* フォームとの間に余白 */
}

/* モーダルのスタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}  

.button {
    margin: 0 10px;
    padding: 10px 20px; /* 内側の余白を減らして小さく */
    background-color: #333; /* ボタンの背景色（必要に応じて調整） */
    color: #fff; /* ボタンの文字色 */
    border: none; /* 枠線を削除 */
    border-radius: 5px; /* 少し丸みを持たせる */
    width: 80px; /* ボタンの幅 */
    height: 30px; /* ボタンの高さ */
    cursor: pointer; /* カーソルの形状 */
    position: relative;
    left: 40%;
    text-align: center;
    display: flex;
    gap: 8px; /* ボタン間のスペースを調整（少しだけ空ける） */
    margin-top: 20px;
    justify-content: center;
    /* justify-content: center;
    align-items: center;*/
}

.button:hover {
    background-color: #555;
}
