body {
    background-color: #ffefd5;
    margin-top: calc(100px + 20px);
}

/* 親要素の幅を制限して、画像の拡大を防ぐ */
.center-contents {
    max-width: 100%;
    overflow: hidden;
    display: flex;
}

/* 画像が画面幅に応じて縮小するように設定 */
.question_img {
    width: 100%;
    max-width: 500px;
    margin-left: 180px;

}

/* デバイスに応じて画像の幅を変更 */
@media (max-width: 768px) {
    .question_img {
        margin-left: auto;
        margin-right: auto;
    }
}

#choiceForm{
    float: right;
    display: flex;
    margin: 30px;
}

.choices {
    width: 200px;
}

#question_form{
    display: flex;
    flex-direction: column;
}

.choice {
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.next-button {
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    height: 20px;
    text-align: center;
    font-size: 16px; /* フォントサイズを調整 */
    margin: 20px;
}
