input[type="file"] {
    display: block;
}
.preview {
    width: 300px;
}

#text{ /*問題作成のリンク*/
    position: relative;
    top: -20px;
}

button{  /*ボタン*/
    background-color: rgb(84, 196, 99);
            color: white;
            border: none;
            margin-left: 10px;
            cursor: pointer;
}

.text{  /*問題ジャンル一覧 */
    position: relative;
    top: -10px;
}

.language{ /*言語*/
    margin-bottom: 1px;
    width: 530px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.language2{ /*非言語*/
    margin-bottom: 1px;
    width: 850px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
  
body { /*全体のボディ*/
    position: relative;
    background-color: #ffefd5;
    top: 130px;
}

#questionForm{ /*リンク*/
    margin-top: 50px;
}