input[type="file"] {
    display: block;
}
.preview {
    width: 300px;
}

#text{ /*問題作成のリンク*/
    position: relative;
    top: -20px;
}

.text{  /*問題ジャンル一覧 */
    position: relative;
    top: -10px;
}

.language{
    margin-bottom: 1px;
    width: 530px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.language2{
    margin-bottom: 1px;
    width: 850px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
  
body {
    position: relative;
    background-color: #ffefd5;
    top: 130px;
}

#questionForm{
    margin-top: 50px;
}