body {
    background-color: #ffefd5;
    margin: 0;
    font-family: Arial, sans-serif;
}

.border-frame {
    margin: 20px auto;
    max-width: 90%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: rgb(244, 242, 242);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    text-align: center;
    padding: 10px;
    
}

th {
    background-color: #f2f2f2;
    
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

#custom-question {
    text-align: left !important;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
}

/* ボタンのスタイル */
#deleteButton {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.answer {
    margin-top: 85px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 4px;
}
.pagination a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.pagination a.disabled {
    color: #ccc;
    pointer-events: none;
    border: 1px solid #ddd;
}
#deleteAllButton{
    background-color: palevioletred;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    
    
}
