.login-body {
  background-color: #ffefd5;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #ff6b6b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 500px;
  margin-top: calc(100px + 20px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-ji {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 10px 10px;
  border: 2px solid #ffc0cb;
  border-radius: 25px;
  font-size: 16px;
}

input::placeholder {
  color: #ffb6c1;
}

input:focus {
  outline: none;
  border-color: rgb(89, 208, 247);
  box-shadow: 0 0 5px rgba(255, 192, 203, 0.5);
}

#submit {
  width: 80%;
  padding: 10px;
  background-color: rgb(89, 208, 247);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;

}

#submit:hover {
  background-color: #68B7F0;
}

.character {
  width: 150px;
  margin-bottom: 20px;
}