body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

header {
    background-color: orange;
    color: #fff;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    overflow-x: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

header button {
    background-color: transparent;
    /* 背景色を透明に設定 */
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: auto;
    margin-left: 20px;
    color: inherit;
}

header h1 {
    margin: 0;
    font-size: 48px;
    flex: 1;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

article {
    background-color: #fbe9aa;
    border-radius: 10px;
    padding: 20px 50px;
    width: 90%;
    margin: 0px auto 20px;
    text-align: left;
}

footer {
    background-color: orange;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

pre {
    font-family: Arial, sans-serif;
    font-size: medium;
    text-align: left;
}

/* フォーム全体のスタイル */
form {
    text-align: left;
}

.form-groupa {
    max-width: 600px;
    margin: 20px auto;
    background: #fbe9aa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-groupb {
    max-width: 150px;
    margin: 20px auto;
    background: #fbe9aa;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    width: 150px;
    text-align: right;
    margin-right: 20px;
    font-size: 18px;
    white-space: nowrap;
}

.form-group input {
    flex: 2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #ff69b4;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    align-self: center;
    /* 中央寄せ */
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #d1478e;
}

.sort {
    background-color: #f4f4f4;
    border-radius: 10px;
    width: 50%;
    margin: 0px auto;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sort input[type="submit"] {
    margin-left: 16px;
    width: 30%;
}

.sort select {
    width: 65%;
}

.flex {
    padding: 20px;
    margin: auto;
}

.postbutton {
    padding: 15px 30px;
}

.form-wrapper {
    padding: 20px;
    border-radius: 10px;
    background-color: #fbe9aa;
    width: 80%;
    margin: 20px auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
input[type="file"],
select {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    overflow-y: scroll;
    height: 200px;
    font-family: Arial, sans-serif;
}

textarea:disabled {
    border: none;
    color: black;
    resize: none;
    overflow-y: hidden;
}

input[type="submit"] {
    background-color: #f19ae1;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #eb64ae;
}

input:disabled {
    border: none;
    color: black;
}

#menuContent {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 998;
}

#menuContent ul {
    list-style-type: none;
    padding: 0;
}

#menuContent li a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

#menuContent li a:hover {
    background-color: #f1f1f1;
}

nav {
    background-color: #f4f4f4;
    width: 250px;
    height: calc(100% - 100px);
    /* ヘッダーの高さに合わせてメニューバーの高さを調整 */
    position: fixed;
    top: 100px;
    left: 0;
    overflow-y: none;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

img:hover {
    /*画像にポインタが触られたとき*/
    opacity: 0.5;
    /*アイコンを薄くする*/
    cursor: pointer;
    /* カーソルをポインターに変更 */
}

img:active {
    /*画像がクリックされたとき*/
    position: relative;
    /*画像の位置を元に戻す*/
    top: 3px;
    /* 画像を少し下に移動させる */
}

#questionlist {
    border: 2px solid #000;
    padding: 20px;
    margin-top: 20px;
    background-color: #f0f0f0;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}

#answerlist {
    border: 2px solid #000;
    padding: 20px;
    margin-top: 20px;
    background-color: #f0f0f0;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}

#worklist {
    border: 2px solid #000;
    padding: 20px;
    margin-top: 20px;
    background-color: #f0f0f0;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}

#profile {
    border: 2px solid #000;
    padding: 40px 30px;
    margin: 20px 100px;
    background-color: #f0f0f0;
    text-align: left;
}

.enterButton {
    padding: 8px 16px;
    background-color: #f19ae1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
}

#submitEdit {
    padding: 8px 16px;
    background-color: #f19ae1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 8%;
}

#cancelEdit {
    padding: 8px 16px;
    width: 8%;
    border-radius: 5px;
    border: 1px solid black;
}

.enterButton:hover {
    background-color: #eb64ae;
}

.detail-container {
    max-width: 80%;
    margin: 20px auto;
    background-color: #fbe9aa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detail-block {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 30px 50px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.label {
    background-color: #cccccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.detail-block p {
    text-align: left;
}

.detail-block div {
    text-align: left;
}

cds-code-snippet {
    color: white;
    text-align: left;
    max-width: 90%;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f19ae1;
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #eb64ae;
}

.tag {
    padding: 6px 16px;
    background-color: #ccc;
    display: block;
    float: right;
}

#question-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    display: block;
    /* border: 1px solid #ccc; */
}

#question-container h2 {
    text-align: center;
}

#pic-container img.zoomed {
    width: 80%;
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#new-answer {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

/* 回答の枠のスタイル */
.answer {
    background-color: #fbe9aa;
    padding: 20px;
    border: 2px solid #333333;
    margin-bottom: 30px;
    text-align: left;
}

/* 回答コンテナのスタイル */
#answer-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    /* border: 1px solid #ccc; */
}

#answer-form {
    margin: 50px auto;
    background-color: #fbe9aa;
    padding: 20px;
    border: 2px solid #333333;
}

#answer_text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit-ans {
    color: white;
    background-color: #f19ae1;
    padding: 8px 16px;
    border: none;
    width: 20%;
}

#submit-ans:hover {
    background-color: #eb64ae;
}

#add-ans {
    margin: 50px auto;
    padding: 20px;
    border: 3px solid #aaaaaa;
    color: #aaaaaa;
}

.cancel-button {
    padding: 8px 16px;
    border: none;
    width: 20%;
    border-radius: 5px;
}

blockquote {
    position: relative;
    padding: 10px 15px 10px 50px;
    box-sizing: border-box;
    font-style: italic;
    border: solid 2px #464646;
    color: #464646;
}

blockquote:before {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 15px;
    content: "\f10d";
    font-family: FontAwesome;
    color: #77c0c9;
    font-size: 25px;
    line-height: 1;
    font-weight: 900;
}

blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}

.text-container {
    background-color: #fbe9aa;
    padding: 30px 30px 20px;
    border: 2px solid #333333;
    text-align: left;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fbe9aa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

ol {
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

ol,
ul {
    padding-left: 20px;
}

.content-rule {
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fbe9aa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.container-otoi {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fbe9aa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.good-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.centered-movie {
    max-width: 100%;
    max-height: 100%;
}

#goodVideo {
    display: none;
    z-index: 9999;
}

.left {
    text-align: left;
}

.copyright {
    text-align: center;
}

.mypage-footer {
    height: 80px;
    /* 任意の高さに設定 */
    padding: 10px;
    /* 必要に応じて余白を調整 */
    text-align: center;
    /* 中央揃えにする */
    margin-top: 40px;
}

.footer-menu {
    margin-bottom: 10px;
    /* メニューとコンテンツの間に余白を設定 */
}

.footer-menu-list {
    list-style: none;
    /* 箇条書きスタイルをなしにする */
    padding: 0;
}

.footer-menu-list a {
    text-decoration: none;
    /* リンクの下線をなしにする */
    color: #333;
    /* リンクの色を設定 */
    margin-right: 10px;
    /* リンクの間隔を調整 */
}

.footer-menu-list a:hover {
    text-decoration: underline;
    /* リンクにマウスを合わせたときに下線を表示 */
}

.message {
    color: blue;
}

.message-red {
    color: red;
}