html {
    height: 100%;
    overflow: hidden;
}

.top-contents{
    margin: 10 0 0 16px;
    line-height: 5px;
}

body {
    min-height: 100%;
    background-color: #ffefd5;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    /* コンテナの相対位置を指定 */
}

/* 親要素の幅を制限して、画像の拡大を防ぐ */
.center-contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 全体は上寄せ */
    padding-top: 20px;
    padding: 30px 40px;
}



.footer {
    bottom: auto;
}

#timer-container {
    bottom: 100px;
}

.question {
    flex-grow: 1;
    margin: 0 0 0 auto;
}

.question-text {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    /* テキストを右揃え */
    margin-left: 310px;
}

.question_img {
    width: 500px;
    position: absolute;
    top: 200px;
    left: 70px;
}

.question p {
    left: 300px;
}

.choices {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 170px;
    /* 上側のマージンを追加 */
    margin-right: 200px;
    width: 200px;
    /* 適切な幅を設定 */
}

.choice {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.choice input {
    margin-right: 10px;
    cursor: pointer;
}

.choice label {
    margin: 0;
    flex-grow: 1;
    cursor: pointer;
}

.timer-label {
    position: absolute;
    /* 絶対位置に変更 */
    top: 120px;
    /* 調整が必要なら変更 */
    right: 300px;
    /* 調整が必要なら変更 */
}

.timer-container {
    width: 50%;
    height: 20px;
    margin-top: 20px;
    position: absolute;
    /* 絶対位置に変更 */
    top: 100px;
    /* 調整が必要なら変更 */
    left: 180px;
    /* 調整が必要なら変更 */
    border: 1px solid #aaa;
    transition: background-color 0.1s linear;
}

.timer-bar {
    width: 0;
    height: 100%;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.1s linear;
}

.next-button {
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    /* ボタンの位置を調整 */
    position: relative;
    left: 1000px;
}

.next-button:hover{
    color: #0c0c0c; /* ホバー時の背景色 */
    background-color: #898989;  /* ホバー時のテキスト色 */
}

.footer p {
    margin-left: 920px;
}

#next-button {
    margin: 10px 50px 10px 50px;
}

#question_count {
    margin-top: 100px;
}