/* teststart.css */
body {
    background-color: #ffefd5;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin: 140px auto;
    border: 2px solid black;
    padding: 20px;
    height: 400px;
    box-sizing: border-box;
    width: 50%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    text-align: center;
}

.button-container {
    text-align: center;
}

.button {
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(235, 118, 46);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: darkred;
}



