/* 広告を破壊 */
div[style*="z-index: 2147483647"] {
    display: none !important; /* 高いz-indexを持つ広告要素を非表示にする */
}

/* teststart.css */

/* ページ全体の設定 */
body {
    background-color: #ffefd5; /* 背景色を薄いピンクに設定 */
    margin: 0; /* マージンを0に設定して余白を無くす */
    font-family: Arial, sans-serif; /* フォントをArialに設定 */
}

/* コンテナのスタイル */
.container {
    margin: 140px auto; /* 上下に140pxのマージン、中央寄せ */
    border: 2px solid black; /* 黒い2pxの枠線 */
    padding: 20px; /* 内側に20pxのパディング */
    height: 400px; /* 高さを400pxに設定 */
    box-sizing: border-box; /* パディングを含めたボックスモデルにする */
    width: 50%; /* 幅を50%に設定 */
    background-color: aliceblue; /* 背景色を薄い青に設定 */
    display: flex; /* フレックスボックスでレイアウト */
    flex-direction: column; /* 子要素を縦に並べる */
    justify-content: space-between; /* 子要素を上下に均等に配置 */
}

/* コンテンツのスタイル */
.content {
    text-align: center; /* 中央揃え */
}

/* ボタンコンテナのスタイル */
.button-container {
    text-align: center; /* 中央揃え */
}

/* ボタンのスタイル */
.button {
    padding: 20px 30px; /* ボタンの内側に20px上下、30px左右のパディング */
    font-size: 20px; /* フォントサイズを20pxに設定 */
    cursor: pointer; /* カーソルをポインタに変更 */
    background-color: rgb(235, 118, 46); /* 背景色をオレンジに設定 */
    color: white; /* 文字色を白に設定 */
    border: none; /* 枠線なし */
    border-radius: 5px; /* 角を丸くする */
    transition: background-color 0.3s ease; /* 背景色の変更に0.3秒の遷移効果を追加 */
}

/* ホバー時のボタンのスタイル */
.button:hover {
    background-color: darkred; /* ホバー時の背景色を暗い赤に変更 */
}
