html {
    height: 100%;
    overflow: hidden;
}


body {
    min-height: 100%;
    background-color: #ffefd5;
    overflow: hidden;
}


.content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    flex-grow: 1;
    box-sizing: border-box;
}

.footer{
    bottom: auto;
}

#timer-container{
    bottom: 100px;
}

.question {
    flex-grow: 1;
    margin: 0 0 0 auto;
}

.question-text {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    /* テキストを右揃え */
    margin-left: 310px;
}

.question_img{
    width: 500px;
    position: absolute;
    top: 200px; left: 180px;
}

.question p {
    margin-right: 390px;
}

.choices {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 100px;
    /* 上側のマージンを追加 */
    margin-right: 200px;
    width: 200px;
    /* 適切な幅を設定 */
}

.choice {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.choice input {
    margin-right: 10px;
    cursor: pointer;
}

.choice label {
    margin: 0;
    flex-grow: 1;
    cursor: pointer;
}


.timer-label {
    position: relative;
    top: -410px;
    left: 700px;
    bottom: 30px;
}
.timer-container {
    width: 50%;
    height: 20px;
    margin-top: 20px;
    position: relative;
    top: -450px;
    left: 40px;
    border: 1px solid #aaa;
    transition: background-color 0.1s linear;
}
.timer-bar {
    width: 0;
    height: 100%;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.1s linear;
}

.next-button {
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    /* ボタンの位置を調整 */
    right: 15px;
}

.footer p {
    margin-left: 920px;
}

#next-button {
    margin: 10px 50px 10px 50px;
}

/*mondaikaito以上*/

/*
img:hover {
    opacity: 0.5;
    cursor: pointer;
}

img:active {
    position: relative;
    top: 3px;
}

#menuButton {
    margin-right: 400px;
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu-container {
    display: flex;
    align-items: center;
}
*/





