header {
    background-color: rgb(89, 208, 247);
    color: white;
    text-align: center;
    padding: 20px;
}

.honbanmain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: left;
}

.container {
    border: 2px solid black;
    padding: 20px;
    height: 400px; /* 縦長にするための高さ指定 */
    box-sizing: border-box;
    width: 50%; /* 幅をさらに小さく設定 */
    margin: auto; /* 左右中央揃え */
}

.content{
    text-align: center;
    margin-bottom: 20px;
}

.button-container {
    text-align: center; /* ボタンの中央揃え */
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.message-red {
    color: red;
}

/*mondaikaitoのCSS以下*/

body{
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    flex-grow: 1;
    box-sizing: border-box;
    
}
.question {
    flex-grow: 1;
    margin: 0 0 0 auto;
}
.question-text {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 30px;
    text-align: center; /* テキストを右揃え */
    margin-left: 310px;
}
.question p{
    margin-right: 390px;
}
.choices {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 100px; /* 上側のマージンを追加 */
    margin-right: 70px;
    width: 200px; /* 適切な幅を設定 */
}
.choice {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 5px;
}
.choice input {
    margin-right: 10px;
}
.choice label {
    margin: 0;
    flex-grow: 1;
}
.timer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.timer-label {
    margin-right: 10px;
}
.timer-bar {
    display: flex;
    width: 80%;
    height: 20px;
    overflow: hidden;
}
.timer-bar div {
    flex: 1;
    background-color: #e0e0e0;
    margin: 0 1px;
    opacity: 1;
}

.next-button {
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    bottom: 50px; /* ボタンの位置を調整 */
    right: 20px;
}

.footer p{
    margin-left: 920px;
}
/*mondaikaito以上*/

/*login.phpのスタイリング*/
.login-container{
    background-color: #ffefd5;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #ff6b6b;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-ji{
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color:rgb(89, 208, 247);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #68B7F0;
}

/* 結果表示エリア */
#loginResult {
    margin: 10px auto;
}