/* スマートフォン (最大幅 768px) */
/*  広告を破壊 */
div[style*="z-index: 2147483647"] {
    display: none !important;
}

@media screen and (max-width: 768px) {

    header {
        height: 80px; /* ヘッダーの高さをコンパクトに */
        padding: 0 10px; /* 左右10px に設定 */
        justify-content: space-between; /* ヘッダー内の要素を左右に配置 */
    }

    #free-h1 {
        width: 250px; /* ロゴの幅を縮小 */
        height: 40px; /* ロゴの高さを調整 */
        right: 40px; /* ロゴを右側に配置 */
    }

    nav {
        width: 100%; /* ナビゲーションの幅を 100% に設定 */
        height: calc(100% - 80px); /* ヘッダー高さに応じて調整 */
        top: 80px; /* ヘッダーの下にナビゲーションを配置 */
        left: 0; /* 左配置 */
    }

    nav ul li a {
        font-size: 16px; /* メニューの文字サイズを小さめに */
        padding: 10px; /* 各項目のスペースを調整 */
    }

    #menuBtn img{
        width: 65px; /* メニューボタン内の画像サイズを 65px に調整 */
        height: 65px; /* メニューボタン内の画像サイズを 65px に調整 */

    }

    #menuBtn {
        width: 40px; /* スマホでは少し小さめ */
        left: -225px; /* メニューボタンを画面外に配置するため、left: -225px; を設定 */
    }

    #menuContent {
        width: 100%; /* メニューコンテンツの幅を 100% に設定 */
        left: 0; /* 左配置 */
        top: 80px; /* top: 80px; で、ヘッダーの下に配置 */
        box-shadow: none; /* モバイルでは影を削除 */
    }
}

/* タブレット (最大幅 1024px、最小幅 769px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        height: 90px; /* ヘッダーの高さを 90px に設定 */
        padding: 0 15px; /* 内側の余白（padding）を 左右15px に設定 */
    }

    #free-h1 {
        width: 250px; /* ロゴをタブレット用に少し大きく */
        height: 50px; /* ロゴの高さを 50px に調整 */
        left: auto; /* ロゴが左に寄らず自動で位置が調整 */
    }

    nav {
        width: 300px; /* メニューの幅を広めに */
        height: calc(100% - 90px); /* 高さは画面の高さから 90px を引いた値に設定 */
        top: 90px; /* 上に90px配置 */
    }

    nav ul li a {
        font-size: 18px; /* メニュー項目を適度なサイズに */
        padding: 12px; /* スペースを確保 */
    }

    #menuBtn {
        width: 60px; /* メニューボタンの幅を 60px */
        height: 45px;/* 高さを45pxサイズ調整 */
    }

    #menuContent {
        width: 300px; /* メニューコンテンツの幅を 300px に設定 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 軽い影を追加 */
    }
}

