/*  広告を破壊 */
div[style*="z-index: 2147483647"] {
    display: none !important;
}

/* 極小スマホ (360px以下) */
@media screen and (max-width: 360px) {
    #free-h1{
        position: fixed;
        left: 70px;
        width: 80%;
    }
}

/* 小型スマホ (361px ~ 414px) */
@media screen and (max-width: 414px) {
    #free-h1{
        position: fixed;
        left: 70px;
        width: 80%;
    }
}

/* 中型スマホ (415px ~ 768px) */
@media screen and (max-width: 768px) {
    #free-h1{
        position: fixed;
        left: 70px;
        width: 80%;
    }
}
