/* レスポンシブ対応 */
/*  広告を破壊 */
div[style*="z-index: 2147483647"] {
    display: none !important;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 15px 0;
    }

    .kan-right {
        display: none;
    }

    nav ul {
        flex-wrap: wrap;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .hero .btn {
        font-size: 1em;
        padding: 10px 20px;
        width: 100%;  /* ボタンが親要素にフィットするように */
        box-sizing: border-box;  /* パディングやボーダーを幅に含める */
        left: auto;
    }

    .hero img {
        max-width: 50%; /* 画像を親要素の幅に合わせて調整 */
        height: auto; /* 画像の高さを自動調整 */
        margin: 0 auto; /* 画像を中央に配置 */
        display: block; /* インライン要素のように表示 */
        left: auto;
    }
}

@media screen and (max-width: 768px) {
    .kan-right {
        display: none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 1.8em;
    }

    .hero .btn {
        width: 100%; /* ボタンを横幅いっぱいに */
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 12px;
        box-sizing: border-box;  /* パディングをボタンの幅に含める */
    }

    .hero .logo-img {
        max-width: 300px;
        margin: 0 auto;  /* 画像を中央に配置 */
        display: block; /* 画像をブロック要素として中央揃え */
    }
}

@media screen and (max-width: 480px) {
    .kan-right {
        display: none;
    }


    .hero h1 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 0.9em;
    }

    .hero .btn {
        text-align: right;
        font-size: 0.9em;
        padding: 10px;
        left: auto;
        margin-right: auto;
        width: 100%; /* ボタンが親要素にフィットするように */
        box-sizing: border-box;  /* パディングをボタンの幅に含める */
    }

    .hero .logo-img {
        position: relative;
        left: auto;
        max-width: 250px;
        margin: 0 auto;  /* 画像を中央に配置 */
        display: block; /* 画像をブロック要素として中央揃え */
    }
}
