/*  広告を破壊 */
div[style*="z-index: 2147483647"] {
    display: none !important;
}

/* 極小スマホ (360px以下) */
@media screen and (max-width: 360px) {
    .kan-right {
        display: none;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .hero h1 {
        font-size: 1.8em;
    }
    .hero p {
        font-size: 0.7em;
    }
}

/* 小型スマホ (361px ~ 414px) */
@media screen and (max-width: 414px) {
    .kan-right {
        display: none;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .hero h1 {
        font-size: 2em;
    }
    .hero p {
        font-size: 0.9em;
    }
}

/* 中型スマホ (415px ~ 768px) */
@media screen and (max-width: 768px) {
    .kan-right {
        display: none;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .logo-img{
        display: flex;
        left: 1px;
        width: 100%;
    }
    .hero h1 {
        font-size: 2.2em;
    }
    .hero p {
        font-size: 1em;
    }
    .hero .btn {
        display: flex;
        left: 30px;
        margin: 0px 83px 50px 29px;
    }
}