/* モバイル用スタイル (最大幅 768px) */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .profile-container {
        flex-direction: column; /* 縦方向に並べる */
        margin: 20px;
        margin-top: 115px;
    }

    .profile-sidebar {
        padding: 20px;
        text-align: center;
        height: 930px;
    }

    .profile-main {
        width: 100%; /* メイン部分をフル幅にする */
        padding: 20px;
        margin-top: 60px;
        height: 625px; /* 高さをコンテンツに合わせる */
    }

    .learning-progress h3,
    .growth-record h3 {
        font-size: 1.5em;
        margin-top: 30px;
        text-align: center; /* 中央寄せ */
    }

    .progress-item {
        display: block;
        left: -50px;
        top: -20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .modal{
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 65%;
        height: 40%;
        margin-top: 180px;
    }

    #editOption {
        width: 24%;
    }

    .edit-profile-btn1 {
        width: 24%;
        /* margin: 10px 0; */
        position: relative;
        left: -395px;
        top: 78px;
    }
    

    #sougo,
    #language,
    #nonverbal {
        position: static; /* 固定位置を解除 */
        left: 0;
    }

    .language1,
    .nonverbal1 {
        position: static; /* 固定位置を解除 */
        left: 0;
        top: 0;
    }

    .edit-profile-btn,
    #button {
        width: 100%; /* ボタンをフル幅に */
        margin: 10px 0;
    }
}

/* モバイル用スタイル (最大幅 360px) */
@media screen and (max-width: 360px) {
    body {
        font-size: 14px;
    }

    .profile-container {
        flex-direction: column; /* 縦方向に並べる */
        margin: 20px;
        margin-top: 115px;
    }


    .profile-sidebar {
        padding: 20px;
        text-align: center;
        height: 930px;
    }

    .profile-main {
        width: 100%; /* メイン部分をフル幅にする */
        padding: 20px;
        margin-top: 60px;
        height: 625px; /* 高さをコンテンツに合わせる */
    }

    .learning-progress h3,
    .growth-record h3 {
        font-size: 1.5em;
        margin-top: 30px;
        text-align: center; /* 中央寄せ */
    }

    .progress-item {
        display: block;
        left: -50px;
        top: -20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .modal{
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 65%;
        height: 40%;
        margin-top: 180px;
    }

    #editOption {
        width: 24%;
    }

    .edit-profile-btn1 {
        width: 24%;
        /* margin: 10px 0; */
        position: relative;
        left: -395px;
        top: 78px;
    }
    

    #sougo,
    #language,
    #nonverbal {
        position: static; /* 固定位置を解除 */
        left: 0;
    }

    .language1,
    .nonverbal1 {
        position: static; /* 固定位置を解除 */
        left: 0;
        top: 0;
    }

    .edit-profile-btn,
    #button {
        width: 100%; /* ボタンをフル幅に */
        margin: 10px 0;
    }
}
