/* スマートフォン向け */
/*  広告を破壊 */
div[style*="z-index: 2147483647"] {
    display: none !important;
}

@media screen and (max-width: 600px) {
    body {
        margin-top: 70px; /* 上部の余白を調整 */
    }

    .top-contents {
        margin: 0 0 0 10px;
    }

    .center-contents {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    .question_img {
        width: 80%; /* 画像が親要素の幅に収まるように */
        max-width: 400px; /* 最大幅を設定 */
        height: auto;
        margin: 10px 0;
    }

    #choiceForm {
        float: none;
        margin-top: 20px;
        width: 100%;
    }

    .choices {
        max-width: 100%;
    }

    .next-button {
        width: 80px; /* ボタンの幅を100%にして、親要素の幅に合わせる */
        text-align: right;
        font-size: 18px; /* フォントサイズ調整 */
        margin-right:0px;
        margin: 10px 0;
    }

    .edit-profile-btn {
        height: auto;
        position: relative;
        left: 300px;
        margin: 5px 0; /* ボタン間の余白を追加 */
    }
}

/* タブレット向け */
@media screen and (max-width: 900px) {
    .center-contents {
        flex-direction: column;
        align-items: center;
    }

    .question_img {
        width: 100%;
        max-width: 400px;
    }

    .edit-profile-btn {
        width: 20%;
        text-align: right;
    }

    .next-button {
        width: 100%;
        text-align: center;
    }
}

