/* メディアクエリでレスポンシブ対応 */
@media (max-width: 768px) {
    /* テーブルの要素（table, thead, tbody, th, td, tr）をブロック表示にして、幅を100%に設定 */
    table, thead, tbody, th, td, tr {
        display: block; /* 各要素をブロック表示にして、縦並びにする */
        width: 100%; /* 幅を100%に設定して、画面幅に合わせる */
    }

    th, td {
        text-align: left; /* テキストを左揃え */
        display: flex; /* フレックスボックスを使用して、要素の配置を調整 */
        justify-content: space-between; /* 各要素を左右に配置 */
        padding: 8px; /* パディングを設定して、内容の間隔を調整 */
    }

    /* tr要素にマージンとボーダーを追加 */
    tr {
        margin-bottom: 10px; /* 各行の間に余白を設定 */
        border-bottom: 1px solid #ccc; /* 行の下にボーダーを追加 */
    }

     /* th要素にスタイルを適用 */
    th {
        background-color: transparent; /* 背景色を透明に設定 */
        font-weight: bold; /* フォントを太字に設定 */
    }

    /* テーブルのボーダーを削除 */
    #table {
        border: none; /* テーブルのボーダーを消す */
    }
}

/* 画面幅が480px以下の場合 */
@media (max-width: 480px) {
     /* .border-frameのパディングを縮小 */
    .border-frame {
        padding: 10px; /* 内側の余白を小さく設定 */
    }

    /* #deleteButtonのパディングとフォントサイズを調整 */
    #deleteButton {
        padding: 5px; /* ボタンのパディングを縮小 */
        font-size: 12px; /* フォントサイズを小さく設定 */
    }
}