/* 画面幅が768px以下のデバイス向け */
/*  広告を破壊 */
div[style*="z-index: 2147483647"] {
    display: none !important;
}

@media (max-width: 768px) {
    .content {
        padding: 10px;
        flex-direction: column; /* 要素を縦並びにする */
        align-items: center;
    }

    .top-contents {
        margin: 10px;
    }

    button {
        position: relative;
        top: 50px; /* ボタン位置を調整 */
        left: 0;
        width: 100%;
        max-width: 300px; /* 幅を調整 */
        height: 50px;
    }

    .question_img {
        width: 100%; /* 画像の幅を100%に */
        position: relative;
        top: 0;
        left: 0;
    }

    .question-text {
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
        font-size: 14px; /* テキストサイズを小さく */
    }

    .choices {
        position: absolute;
        top: 275px;
        right: -60px;
        max-width: 80%;
    }

    .choice {
        width: max-content; /* 選択肢を画面全体に広げる */
        margin-bottom: 15px;
    }

    .next-button {
        left: 200px;
        width: 17%;
        position: relative;
        top: 280px;
        font-size: 16px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .timer-container {
        width: 90%;
        left: 5%;
    }
    .timer-label {
        position: absolute;
        top: 142px;
        margin-left: 20px;
    }

    .modal-content {
        width: 80%;
        margin: 20% auto;
    }

    .footer p {
        margin-left: 10px;
        text-align: center;
    }

    .button {
        width: 100%;
        height: 40px;
        margin-top: 20px;
    }

    .edit-profile-btn {
        position: absolute;
        width: 35%;
        height: 40px;
        margin: 32px 0px 0px 210px;
    }
}


